body {
  margin: auto;
  background: tan;
  width: 99%;
  text-align: center;
  color: white;
}
#board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: solid black 2px;
}
.back,
.front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  margin: 5px;
}
.card {
  transform-style: preserve-3d;
  -webkit-transition: transform 0.6s;
}
.front {
  position: absolute;
  background: white;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
}
.back {
  position: relative;
  background: white;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.flipCard {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
img {
  width: 150px;
  height: 150px;
}